:root {
    --primary-font: "Rubik", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-text-color: #000;
    --secondary-text-color: #616161;
    --accent-text-color:#ec5863;
    --accent-text-color-blue: #4285f4;
    --accent-color: #D71EF7;
    --btn-accent-collor: #fcfdfe;
    --btn-header: #4285F4;
    --btn-red: #EC5863;
    --background: #fafbfd;
    --secondary-background:#fff;
    --red-spots: #EC5863;
    --red-blob: #EC5863;


}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    cursor: pointer
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul, 
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

}

img {
  display: block;
  max-width: 100%;
}

body{
    font-family: var(--primary-font); 
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/*====================== COMPONENTS =====================*/

.download-btn {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 0.14em;
    cursor: pointer;
    color: #fcfdfe;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 29px;
    padding-right: 29px;
    background-color: var(--btn-red);
    border-radius: 5px;
     z-index: 1;
    }
    
.download-btn:hover,
.download-btn:focus{
    background-color: var(--btn-accent-collor) ;
    color: var(--accent-color) ;
    }
.highlight-red {
color: var(--accent-text-color);
}
.highlight-blue {
    color: var(--accent-text-color-blue);
}
.section-description {
    font-weight: 400;
    font-size: 12px;
    line-height: 138%;
    letter-spacing: 0.08em;
    color: var(--primary-text-color);
    padding-top: 13px;
    padding-bottom: 24px;
}

.section-title{
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: var(--primary-text-color);
    margin-bottom: 47px;
    padding-top: 14px;
}
  
/*====================== /COMPONENTS =====================*/
  

/*===================== HEADER =========================*/

.logo-link {
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-text-color);
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 201px; ;
}
.menu-item {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.14em;
    color: var(--primary-text-color);
}
.btn-blue {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
 background-color: var(--btn-header);
 margin-right: 43px;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}
.page-header {
 padding-top: 37px;
 padding-bottom: 37px;
 background-color: var(--background);
}
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-nav {
    display: flex;
    align-items: center;
}
.menu-list {
    display: flex;
    align-items: center;
}
.menu-link {
    color: var(--primary-text-color);
}

/*===================== /HEADER =========================*/


/*=========================== HERO =======================*/

.hero-section {
    position: relative;
   padding-top: 79px;
   padding-bottom: 79px;
   background-color: var(--background); 
   width: 100%;
}
.hero-container {
    display: flex;
    z-index: 1;
}
.hero-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: var(--primary-text-color);
    padding-top: 163px;
}

.hero-bg-blob {
    position: absolute;
    top: 0;
    width: 296px;
    height: 700px;
    background-color: var(--red-spots);
    border-radius: 30px 0 0 30px;
    margin-left: 857px;
    z-index: 0;
  
}
.hero-bg-blob-next{
    position: absolute;
    top: 0;
    width: 296px;
    height: 700px;
    height: 100%;
    margin-left: 857px;
    background-color: var(--red-spots);
    z-index: 0;
}

.watch-caption {
    font-weight: 400;
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 0.08em;
    color: var(--secondary-text-color);
    padding-bottom: 5px;
}

.watch-text {
    font-weight: 400;
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.watch-text-group {
  display: flex;
  flex-direction: column;
}
.watch-img {
    padding-right: 12px;
}
.container-hero-info {
    padding-left: 70px; 
    z-index: 1;
    width: 497px;
    height: 220px ;
}
.container-hero-video {
    display: flex;
    padding-top: 148px;
}
.container-hero-img {
   margin-right: 53px;
    z-index: 1; 
}
/*===================== /HERO =========================*/


/*=========================== REGISTRATION =======================*/
.registration-section {
    display: flex;
    align-items: center;
    padding-top: 104px;
    padding-bottom: 116px
}
.container-registration-text {
    padding-left: 149px;
    padding-right: 168px;
    padding-top: 231px;
    padding-bottom: 231px;
}
.registration-text {
    padding-top: 12px;
    padding-bottom: 24px;
}

/*=========================== /REGISTRATION =======================*/

/*=========================== EXPERT =======================*/

.expert-section {
    background-color: var(--background);
    position: relative;
    
}
.stats-value {
font-weight: 700;
font-size: 36px;
letter-spacing: 0.14em;
text-align: center;
color: var(--accent-text-color);
}
.stats-label {
font-weight: 700;
font-size: 11px;
letter-spacing: 0.37em;
text-transform: uppercase;
text-align: center;
color: var(--primary-text-color);
padding-top: 5px;
}
.support-container {
    position: relative;
    padding-top: 104px;
}
.blob {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  color: var(--red-blob);
  z-index: 0;
}
.blob-big {
  width: 128px;
  height: 128px;
  background-image: url("../img/blob\ 128x28.svg");
  border-radius: 30px;
}

.blob-medium {
  width: 97px;
  height: 97px;
  background-image: url("../img/blob\ 97x97.svg");
  border-radius: 30px;
}
.blob-small {
  width: 65px;
  height: 65px;
  background-image: url("../img/blob\ 66x66.svg");
  border-radius: 16px;
 
}  
.blob-move-big {
top: 80px;
left: 805px;
}
.blob-move-medium {
top: 53px;
left: 458px;
}
.blob-move-small {
left: 218px;
top: 163px;
}
.stats {
    position: relative;
    z-index: 1;
    margin-right: 249px;
    margin-left: 249px;
    border-radius: 16px;
    width: 654px;
    height: 117px;
    box-shadow: 0 2px 24px 0 rgba(88, 126, 236, 0.15);
    background: var(--secondary-background);
} 
.stats-block {
    position: relative;
}
.stats-container {
    position: relative;
    z-index: 2;
}
.stats-table {
    position: relative;
    display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 28px;
   padding-bottom: 28px;
   z-index: 3;
}
.stats-table li:nth-child(1) {
  margin-right: 99px;
}
.stats-table li:nth-child(2) {
  margin-right: 104px;
}
.stats-table li:nth-child(3) {
  margin-right: 0;
}
.expert-info {
    display: flex;
}
.expert-section-text {
    padding-left: 92px;
    padding-right: 72px;
    padding-top: 130px;
    padding-bottom: 168px;
}
.expert-section-video {
    padding-top: 79px;
    padding-bottom: 116px;
    padding-right: 71px;
}
/*=========================== /EXPERT =======================*/

/*=========================== SUPPORT =======================*/


.support-title {
     font-weight: 700;
     font-size: 16px;
     line-height: 138%;
     letter-spacing: 0.08em;
     text-align: center;
     color: var(--primary-text-color);
     margin-bottom: 14px;
     padding-top: 58px;
}
.support-section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 75px;
}

.support-text {
   text-align: center;
}
.expert-container {
    padding-top: 104px;
    padding-bottom: 116px;
}
.support-table {
    display: flex;
    gap: 72px;
}
.support-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
    padding: 32px 24px;
    text-align: center;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05); /* ВОТ ОНА */
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.blob-motion-first-medium {
left: 308px;
top: 278px;
}
.blob-motion-first-small {

    left: 57px;
    bottom: 50px;

}
.blob-motion-second-big {
    top: 396px;

    right: 334px;

}
.blob-motion-third-small {
    top: 205px;
right: 55px;

}

/*=========================== /SUPPORT =======================*/

/*=========================== FOOTER =======================*/


.footer-section {
    padding-top: 75px;
    padding-bottom: 47px;
}
.footer-download {
    display: flex;
    align-items: center;
    padding-right: 130px;
}
.app-store {
    display: flex;
    align-items: center;
    padding-left: 390px;
    padding-right: 57px;
}
.google-play {
    display: flex;
    align-items: center;
}
/*=========================== /FOOTER =======================*/